#carousel-1 {
  max-width:100%;
  height:auto;
  width:auto;
}

body {
  max-width:100%;
  height:auto;
  width:auto;
  background-color:#333333;
}

p {
  text-align:center;
  color:rgb(157,188,218);
}

